body{
    background-color:plum;

}
h1{

    color:rgb(180, 12, 12);
    font-family:Georgia, 'Times New Roman', Times, serif;
     text-align: center;
     font: 50px;
}
p{
    color:rgb(86, 20, 148);
    font-family:'Courier New',Courier, monospace;
    font-size:  25px; 
    text-align: center;
}

.container{
    width: 20%; 
    margin: 0 auto;
    font-size: 30px;
}


#aaa {
    width: 100%;
}

